<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="image-fluid pe-2">

               <img src="/home/marcio/Imagens/minhafoto1.jpg" class="rounded" width="155" >
               <img src="/home/marcio/Imagens/default.jpg" class="rounded" width="155" >

  <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" class="rounded" width="155" >

              <img src="" class="rounded" width="155" >
            </div>
</body>
</html>